#logging.pattern.level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
management.endpoints.web.exposure.include: "*"
management.endpoint.health.show-details: always

resilience4j: # former Hystrix (RIP)️
  retry:
    instances:
      retry1:
        max-attempts: 3
        wait-duration: 100ms
        # exponential-backoff-multiplier: 1.2
        retry-exceptions:
          - org.springframework.web.client.HttpServerErrorException.InternalServerError
    #        retry-exception-predicate: victor.training.resilience.RetryDemo.RetryPredicate

  ratelimiter:
    configs:
      default:
        limit-for-period: 3 # max number of calls per
        limit-refresh-period: 1s
        timeout-duration: 0s # max time a call can wait to enter (0 = throw immediately if full)
    instances:
      rate1:
        limit-for-period: 2
      rate-tenant-42: # larger rps for tenant 42
        limit-for-period: 10

  bulkhead:
    configs:
      default:
        max-concurrent-calls: 1
        max-wait-duration: 0ms # max time a call can wait to enter (0 = throw immediately if full)
      bulkhead1:
        max-concurrent-calls: 199 # don't saturate all HTTP threads

  circuitbreaker:
    instances:
      circuit1:
        # over the last 5 seconds
        sliding-window-size: 5
        sliding-window-type: time_based

        failure-rate-threshold: 99 # % failed❌

        # or slow calls:
        slow-call-rate-threshold: 90 # % finish in more than
        slow-call-duration-threshold: 2s

        # pause calls for 2s
        wait-duration-in-open-state: 2s

        # then send a few test calls:
        permitted-number-of-calls-in-half-open-state: 2

        # and if they are OK, close the circuit (allow all calls)

spring:
  cache:
    caffeine:
      spec: maximumSize=100,expireAfterWrite=2s

logging:
  pattern:
    dateformat: "HH:mm:ss.SSS"

target.url.base: http://localhost:8080
#server:
#  tomcat:
#    max-connections: 50000
#server:
#  tomcat:
#    accept-count: 50
#server:
#  tomcat:
#    threads:
#      max: 2000
