#logging.pattern.level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
management.endpoints.web.exposure.include: "*"
management.endpoint.health.show-details: always

resilience4j:
  ratelimiter: # props of: io.github.resilience4j.common.ratelimiter.configuration.CommonRateLimiterConfigurationProperties.InstanceProperties
    instances:
      rate-ABC: # 3 / s
        limit-for-period: 2
        limit-refresh-period: 1s
    configs: # 2 / s
      default: #default for any new rate limiter (used by tenant-based rate limiting)
        limit-for-period: 3 # number of calls
        limit-refresh-period: 1s # .. per unit of time
        timeout-duration: 0s # how much to block additional calling thread until exception

  bulkhead: # props of: io.github.resilience4j.common.bulkhead.configuration.CommonBulkheadConfigurationProperties.InstanceProperties
    configs:
      default: # default for any bulkhead
        # TODO
        max-concurrent-calls: 2
        max-wait-duration: 0ms # how much to allow calls to wait in line

  retry: # props of: io.github.resilience4j.common.retry.configuration.CommonRetryConfigurationProperties.InstanceProperties
    instances:
      retry1:
        # TODO
        max-attempts: 3
        wait-duration: 100ms
        retry-exceptions:
          - org.springframework.web.client.HttpServerErrorException.InternalServerError
         # or, custom predicate
#        retry-exception-predicate: victor.training.resilience.RetryDemo.RetryPredicate

  circuitbreaker: # props of: io.github.resilience4j.common.circuitbreaker.configuration.CommonCircuitBreakerConfigurationProperties.InstanceProperties
    instances:
      circuit1:
        # TODO
        sliding-window-size: 5
        sliding-window-type: time_based #seconds

        slow-call-duration-threshold: 2s # resp time >
        slow-call-rate-threshold: 90 # 90%

        failure-rate-threshold: 99 # % failed => sare siguranta


        wait-duration-in-open-state: 2s # sarita 2 sec

        permitted-number-of-calls-in-half-open-state: 2 # 2 calls can try out the remote

spring:
  cache:
    caffeine:
      spec: maximumSize=100,expireAfterWrite=2s

logging:
  pattern:
    dateformat: "HH:mm:ss.SSS"

target.url.base: http://localhost:8080
